.scroll {
    background-color: blue;
    font-size: 12pt
}
.background{
	background-color:blue;
}
.events{
	padding-right: 4cm;
	padding-left: 4cm;
	padding-top: 2cm;
	background-color: #add8e6;
	padding-bottom: 5cm;
}

.title {
	font-family: "Copperplate";
	font-size: 40pt;
	color: #00008B;
}

.welcome {
	font-family: "Copperplate";
	font-size: 14pt;
	color: #00008B;
}

.transparentbox {
    background-color: #ffffff;
    opacity: 0.7;
}

body {
	background-image: url(https://pixabay.com/static/uploads/photo/2013/11/28/10/36/road-220058_960_720.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


