.events{
	padding-right: 4cm;
	padding-left: 4cm;
	padding-top: 2cm;
	background-color: #add8e6;
	padding-bottom: 5cm;
}

.about {
	font-family: "Copperplate";
	font-size: 35pt;
	color: #00008B;
}

.aboutinfo {
	font-family: "Copperplate";
	font-size: 12pt;
	color: #00008B;
}

.creators{
	font-family: "Copperplate";
	font-size: 35pt;
	color: #00008B;
}
